* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "造字工房尚雅（非商用）";
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: url(../image/background.jpg);
  color: #fff;
}

html {
    overflow-y: scroll;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background-color: #6d000e;
  box-shadow: 2px 4px 10px rgb(125, 79, 79);
  color: #fff;
}

header #logosearch {
  display: flex;
}

header .logo img {
  width: 50px;
  margin: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
}

header .search {
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  margin: 20px;
  width: 160px;
  height: 35px;
  border: 0px;
  border-radius: 20px;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;

}

header #navv img {
  width: 50px;
}

header #nav {
  color: #fff;
}

header ul li a#nav:hover,
header ul li a#nav.active {
  background: #fff;
  color: #2b1055;

}

a#nav_bright {
  background: #fff;
  color: #2b1055;
}

a#navv img:hover,
a#navv img:hover {
  filter: invert(20%);
}

.top {
  color: #fff;
}


.map {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}



.container .main {
  display: flex;
  width: 100vw;
  height: auto;
  font-size: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}


.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #6d000e;
  border-radius: 0.25em;
  color: white;
  cursor: pointer;

  font-weight: 500;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
  float: left;
  display: flex;
  justify-content: flex-start;
}

.button:hover {
  background-color: #7d3033;
}

.details-modal {
  background: url(../image/background.jpg);
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: relative;
  top: -11em;
  left: -35em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  scale: 75%;
  padding: 0 2em 4em;
}

.details-modal .details-modal-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
}

.details-modal .details-modal-close svg {
  display: block;
}

.details-modal .details-modal-title {
  color: #111827;
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
}

.details-modal .details-modal-title h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: normal;
}

.details-modal .details-modal-content {
  border-top: 1px solid #e0e0e0;
  pointer-events: all;
  overflow: auto;
}

.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(15, 23, 42, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

details[open] .details-modal-overlay {
  pointer-events: all;
  opacity: 0.5;
}

details summary {
  list-style: none;
  display: flex;
  justify-content: center;
}

details summary:focus {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

code {
  font-family: Monaco, monospace;
  line-height: 100%;
  background-color: #2d2d2c;
  padding: 0.1em 0.4em;
  letter-spacing: -0.05em;
  word-break: normal;
  border-radius: 7px;
  color: white;
  font-weight: normal;
  font-size: 1.75rem;
  position: relative;
  top: -2px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 100vw;
}

.container .switch {
  top: 10em;
  left: 35em;
  position: relative;
  z-index: 1;

}

.container>h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: normal;
  color: #111827;
}

.container>p {
  margin-top: 2em;
  margin-bottom: 2em;
}

.container sup {
  font-size: 1rem;
  margin-left: 0.25em;
  opacity: 0.5;
  position: relative;
}

/****************/
.details-modal-content .container {
  /* 相对定位 */
  position: relative;
  /* 弹性布局 横向排列 允许换行 */
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1440px;
}

.container .box {
  position: relative;
  width: 400px;
  height: 400px;
  /*margin: 50px 40px 0px;*/
  /* 溢出隐藏 */
  overflow: hidden;
  /* 动画过渡 */
  transition: 0.5s;
}

/* 鼠标移入，盒子变大 */
.container .box:hover {
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container .box .img-box {
  /* 绝对定位 */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* 渐变遮罩默认隐藏 */
.container .box .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #222, transparent);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

/* 鼠标移入，渐变遮罩显示 */
.container .box:hover .img-box::before {
  opacity: 1;
}

.container .box .img-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* 保持原有尺寸比例，裁切长边 */
  object-fit: cover;
}

.container .box .text-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* 弹性布局 元素位于容器的结尾 */
  display: flex;
  align-items: flex-end;
  color: #fff;
  z-index: 2;
}

.container .box .text-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  /* 默认移出可视范围 */
  transform: translateY(400px);
  transition: 0.5s;
}

.container .box:hover .text-box h2 {
  /* 鼠标移入，移入可视范围 */
  transform: translateY(-20px);
  /* 设置动画延迟时间 */
  transition-delay: 0.3s;
}

.container .box .text-box p {
  font-size: 13px;
  line-height: 20px;
  /* 默认移出可视范围 */
  transform: translateY(400px);
  transition: 0.5s;
}

.container .box:hover .text-box p {
  /* 鼠标移入，移入可视范围 */
  transform: translateY(-20px);

  /* 设置动画延迟时间 */
  transition-delay: 0.4s;
}


/**************************/

.mapTipText {
  background-color: #ffffff;
}

.mapTipText .mapTipImg {
  height: 300px;
  width: 300px;
  float: left;
  overflow: hidden;
}

#special {
  height: 200px;
  width: 300px;
}

.mapTipText .mapTipImg img {
  width: 100%;
  height: 100%;
}

.mapTipText .mapTipList {
  width: 300px;
  height: 100px;
  float: right;
}

.mapTipTipList {
  height: 300px;
  width: 200px;
  float: right;
}

.mapTipText .mapTipList h2 {
  background-color: #fff;
  text-align: center;
}

.mapTipText .mapTipList h3 {
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  color: #414c02;
}

.mapTipText .mapTipList h2 a {
  text-align: center;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

a,
a:link,
a:active,
a:visited {
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #ae8200;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #000;
}